body {
    background-color: black;
    color: white;
}

#youtube {
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    padding: 20px;
    border-bottom: 1px solid white;
}

#y-vid {
    display: flex;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
    color: white;
}

#logo {
    font-size: 30px;
}